.music-keyboard .octave {
  display: inline-block;
}

.music-keyboard .key {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid dimgray;
  justify-content: flex-end;
  align-items: center;
  color: burlywood;
  cursor: pointer;
  user-select: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.music-keyboard .key.white {
  height: 160px;
  width: 50px;
  background-color: black;
}

.music-keyboard .key.black {
  height: 90px;
  width: 25px;
  background-color: red;
  font-size: .8em;
  position: absolute;
  margin: 0 -15px
}

.analog-synth {
  display: flex;
  align-items: center;
}

.analog-synth > div {
  margin-right: 8px
}

.ui-analyser {
  background-color: gray;
  padding: 12px 5px;
  border-radius: 8px;
}

.ui-analyser canvas {
  border: 10px solid black;
  border-right-width: 2px;
  border-left-width: 2px;
}
