.light-select {
    display: flex;
}

.light-select .light {
    border-radius: 50%;
    border: 1px solid darkred;
    width: 10px;
    height: 10px;
    background-color: black;
}

.light-select .light.on {
    background-color: lightblue;
    box-shadow: 0 0 10px 3px rgba(173, 216, 230, 0.6);
}

.light-select .item {
    margin: 6px;
}

.choice {
    display: inline-flex;
}

.choice .button {
    margin: 6px;
    cursor: pointer;
}